@import "tailwindcss";

:root {
  --bg-primary: #272322;
  --bg-segundary: #f3ac3b;
  --bg-terciary: #342f2d;
  --bg-cuaternary: #f7f9fa;
  --text-primary: #ffffff;
  --text-segundary: #f3ac3b;
}
@theme {
  --color-*:initial;
  --color-primary: #272322;
  --color-segundary: #f3ac3b;
  --color-terciary: #342f2d;
  --color-cuaternary: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat);
}
body {
  background: var(--bg-primary);
  color: var(--text-primary);
  font-family: var(--font-poppins);
}
html {
  scroll-behavior: smooth;
}